<style>

.message{
	margin-top: 20px;
	width: 100%;
}

.date{
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.sender{
	padding-right: 0;
}
</style>

<div class="row tabs" ng-controller="inboxCtrl" ng-if="inbox.state">
	<div class="col-sm-2 side-bar">
		<div class="navbar navbar-side" ng-if="logo == 'logo.jpg'">
			<ul class="nav navbar-nav row">
				<li class="col-sm-12 inbox-tabs" ng-class="activeInboxTab('incoming')">
					<a href ng-click="pickInboxTab('incoming')">
						<span class="glyphicon glyphicon-inbox" ></span> Incoming
					</a>
				</li>
				<li class="col-sm-12 inbox-tabs" ng-class="activeInboxTab('sent')">
					<a href ng-click="pickInboxTab('sent')">
						<span class="glyphicon glyphicon-send"></span> Sent
					</a>
				</li>
				<li class="col-sm-12 inbox-tabs" ng-class="activeInboxTab('saved')">
					<a href ng-click="pickInboxTab('saved')" >
						<span class="glyphicon glyphicon-floppy-saved"></span> Saved
					</a>
				</li>
			</ul>
		</div><!-- end navbar -->
	</div><!-- end col-sm-2 --> 

	<div class="col-sm-10 inbox-panel">
		<div class="message">
			<div class="message-header">
				<p>Exmple message looks good</p>
			</div>
			<hr>
			<div class="message-body">
				<div class="row">
					<div class="col-sm-10 sender">Moshe Hazan</div>
					<div class="col-sm-2 date">12:05 Feb 12 2015</div>
				</div>
				<div>
					<p>Chambray four dollar toast locavore, gastropub vinyl flannel blog meditation selfies yr mumblecore. Occupy art party tote bag, raw denim trust fund High Life umami lomo meh polaroid twee DIY Shoreditch. Hoodie stumptown art party, sartorial taxidermy food truck freegan selvage vegan Austin gastropub. Schlitz messenger bag Shoreditch iPhone, gastropub squid bespoke readymade roof party street art kogi pug authentic tote bag. Pinterest taxidermy 90's, pour-over Etsy fap mumblecore skateboard salvia keytar. Selvage raw denim meh aesthetic American Apparel listicle, plaid Blue Bottle paleo kitsch Schlitz jean shorts High Life. Biodiesel disrupt heirloom hoodie, polaroid next level kale chips letterpress Wes Anderson organic viral Pitchfork health goth four dollar toast post-ironic.
					</p>
				</div>
			</div>
		</div>
	</div>
</div><!-- end row -->