<style>
.dragDrop{
	border: 3px dashed black;
	border-radius: 4px;
	background-color: white;
	width: 100%;
	height: 100px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

.over-drag{
	background-color: #eeeeee;
}

canvas{
	border: 4px solid white;
}
</style>

<div ui-view></div>
<textarea class="form-control" rows="3" placeholder="Describe your home and any other detail you think is important" ng-model="home.description"></textarea>
<p>Select from file:</p>
<label class="image-btn">
	<input name="file" type="file"/>
    <span id="photo-btn" style="font-size: 14px;">Add Photo</span>
</label>


<div flow-init="{target: '/'}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">

  <input type="file" flow-btn/>
  Input OR Other element as upload button
  <span class="btn" flow-btn>Upload File</span>

  <table>
    <tr ng-repeat="file in $flow.files">
        <td>{{$index+1}}</td>
        <td>{{file.name}}</td>
        <td>{{file.msg}}</td>
    </tr>
  </table>
  <img flow-img="$flow.files[0]" style="width = 100px;"/>
</div>

