
								<form>
									<div class="form-group">
								        <label for="Autocomplete">City:</label>
								        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete options="options" ng-model="home.city" details="details" style="color: black;"/>
								    </div>
									<div class="form-group">
										<label for="street">Street:</label>
										<input type="" id="street" ng-model="home.street" placeholder="Street" class="form-control">
									</div>
									<div class="form-group">
										<label for="home-number">Home Number</label>
										<input type="" id="" ng-model="home.homeNumber" placeholder="Home number" class="form-control">
									</div>
									<div class="form-group">
										<label for="home-type">Home Type:</label>
										<select type="" id="" ng-model="home.homeType" class="form-control" ng-options="type for type in ['House','Apartment']">
											<option value="">Select</option>
										</select>
									</div>
								</form>
								<button class="btn btn-primary btn-block" ng-click="goToDetails()">Continue</button>