
								<form>
									<div class="form-group">
								        <label for="Autocomplete">City:</label>
								        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="city" options="options" ng-model="city" details="details"/>
								    </div>
									<div class="form-group">
										<label for="street">Street:</label>
										<input type="" id="street" ng-model="home.street" placeholder="Street" class="form-control">
									</div>
									<div class="form-group">
										<label for="home-type">Home Type:</label>
										<input type="" id="" ng-model="home.homeType" placeholder="House , Apartment etc." class="form-control">
									</div>
									<div class="form-group">
										<label for="home-number">Home Number</label>
										<input type="" id="" ng-model="home.number" placeholder="Home number" class="form-control">
									</div>
								</form>