<style>
.pic-upload-Square{
	padding: 5px;
	border: 2px dashed black;
	border-radius: 4px;
	background-color: white;
	height: 100px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
</style>

<div ui-view></div>
<textarea class="form-control" rows="3" placeholder="Describe your home and any other detail you think is important" ng-model="home.description"></textarea>
<p>Select from file:</p>
<label class="image-btn">
	<input name="file" type="file"/>
    <span id="photo-btn" style="font-size: 14px;">Add Photo</span>
</label>

        <form action="/upload" enctype="multipart/form-data" method="post">
            <input type="text" name="id" ng-model="userId" ng-show="false">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Upload">
        </form>

<div class="row" ng-repeat="set in photos">
	<div class="col-sm-3" ng-repeat="pic in set">
        <form class="pic-upload-Square" name="{{pic.type}}" action="{{'/upload/' + pic.type }}" enctype="multipart/form-data" method="post" target="hiddenFrame">
            <input type="text" name="id" ng-model="userId" ng-show="false">
            <input type="file" name="file">
            <br>
        </form>
        <button ng-click="submit(pic.type)">Upload</button>
    </div>
</div>

<iframe name="hiddenFrame" ng-hide="true"></iframe>
