<style>
.pic-upload-Square{
	/*padding: 5px;*/
	border-radius: 4px;
	/*height: 50px;*/
	/*font-weight: bold;*/
	font-size: 13px;
	/*text-align: center;*/
}

button{
	margin: 5px 0 5px 0;
}

.pic-well{
	background-color: white !important;
	/*width: 100%;*/
}
iframe{
	font-size: 30px;
	width: 100%;
	border: 0;
	height: 30px;
}

.button{
	margin-top: 5px;
}

.btn-success{
	margin-bottom: 10px;
}
</style>

<div ui-view></div>

<div class="well pic-well">
	<h1>Pictures Of your Home</h1>
	<ul class="list-group">
		<li class="list-group-item" ng-show="$index < limit" ng-repeat="pic in photos">
		    <form class="row">
		    	<div class="col-sm-5">
		            <div class="pic-upload-Square">
		            	<h3>{{pic.name}}</h3>
		            	<p>{{pic.text}}</p>
		            </div>
		        </div>
		        <div class="col-sm-2">
		            <div class="button btn btn-primary btn-block" ng-file-select ng-file-change="upload($files,pic.type,$index)">Upload</div>
		            <br>
		        </div>
		        <div class="col-sm-4">
		        	<img src="{{pic.url}}">
		        </div>
		        <div class="col-sm-1">
		            <span class="glyphicon glyphicon-ok text-success" ng-show="pic.done" style="font-size: 30px;"></span>
		        </div>
		    </form> 
	    </li>
	</ul>
	<button class="btn btn-success" ng-click="anotherPic()" ng-show="limit < 8">+</button>
	<br>
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" ng-show="progress" ng-style="bar">
	  {{progress}}%
	</div>
	<br>
	<button class="btn btn-primary btn-block" ng-click="finishList()">Done!</button>
	<br>
</div>
