<style>
.transparent-navbar{
	z-index: +1;
	position: absolute;
	width: 100%;
}

.navbar > ul > li > a{
	color: white;
	text-decoration: none;
	font-size: 16px;
} 
.home-panel{
	margin-top: 1em;
	width: 21.42em;
}
.panel-pic{
	height: 100%;
  	width: 100%;
  	border-radius: 4px;
}
</style>	

	<navigation-bar logo="logo_white.png" class="transparent-navbar"></navigation-bar>
	<jumbotron></jumbotron>
	<div class="container">
		<ul class="nav nav-tabs">
		  <li role="presentation" ui-sref=".panel" ui-sref-active="active"><a href="#">Panel</a></li>
		  <li role="presentation" ui-sref=".map" ui-sref-active="active"><a href="#">Map</a></li>
		</ul>
	
		<ui-view></ui-view>
	</div>