<style>
.transparent-navbar{
	z-index: +1;
	position: absolute;
	width: 100%;
}

.navbar > ul > li > a{
	color: white;
	text-decoration: none;
	font-size: 16px;
} 
.panel-container{
	/*overflow: scroll;*/
}
.col-sm-3-panel{
	height: 22em;
}
.panel-row{
	height: 20em;
}
.home-panel{
	margin-top: 1em;
	height: 100%;
	padding: 1em 0em 1.7em 0em;
}
.panel-body{
	height: 100%;
	padding: 0 0 0 0;
	/*width: 100%;*/
	text-align: center;
}
.panel-pic{
	height: 70%;
  	width: 85%;
  	border-radius: 4px;
  	margin-bottom: 1em;
}
</style>	

	<navigation-bar logo="logo_white.png" class="transparent-navbar"></navigation-bar>
	<jumbotron></jumbotron>
	<div class="container">
		<ul class="nav nav-tabs">
		  <li role="presentation" ui-sref=".panel" ui-sref-active="active"><a href="#">Panel</a></li>
		  <li role="presentation" ui-sref=".map" ui-sref-active="active"><a href="#">Map</a></li>
		</ul>
	
		<ui-view></ui-view>
	</div>