
<div class="myModal" ng-if="messageContentModal.isOpen">
	<div class="modal-content">
		<a href ng-click="closeModal()" class="pull-right">x</a>
		<div class="modal-body">
			<div class="message" ng-if="messageContentModal.isOpen">
				<div class="message-header">
					<p>{{message.subject}}</p>
				</div>
				<hr>
				<div class="message-body">
					<div class="row">
						<div class="col-sm-10 sender">{{message.sender}}</div>
						<div class="col-sm-2 date">{{message.sent}}</div>
					</div>
					<br>
					<div>
						<p>{{message.content}}</p>
					</div>
					<br>
					<textarea rows="5" cols="90" ng-model="messageSend" placeholder="Write your message here ..."></textarea>
					<br>
					<button class="btn btn-primary">Send</button>
				</div>
			</div>
		</div><!-- end modal-body -->
	</div><!-- end modal-content -->
</div><!-- end logModa -->