		<style type="text/css">
			.reply-btn{
				margin: 1em 0 1em 8em;
			}
			.text-box{
				margin-left: 8em;
			}
			.message-body{
				position: relative;
				border: 1px solid #dce0e3;
				padding: 1em 1em 0 1em;
				margin-bottom: 1em;
				/*background: aliceblue;*/
			}
			.message-body:before
			{
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				left: 30px;
				top: 100px;
				border: 15px solid;
				border-color: #dce0e3 transparent transparent #dce0e3;
			}
			.message-body:after
			{
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				left: 38px;
				top: 100px;
				border: 10px solid;
				border-color: #dce0e3 transparent transparent #dce0e3;
			}
		</style>
		<div class="message"> <!-- recieve converstaiont and ng-repeat -->
			<div class="message-header">
				<p>Conversation with {{conversation.uName}}</p>
			</div>
			<hr>
			<div class="message-body" ng-repeat="message in conversation.messages | orderBy:'-sent'">
				<div>
					<p>{{message.content}}</p>
					<div class="message-date">
						<p class="text-muted">{{message.sent | date:"MM/dd/yyyy 'at' h:mma"}}</p>
					</div>
				</div>
			</div>
		</div>

			<textarea rows="5" cols="90" ng-model="messageData.content" placeholder="Write your message here ..." class="text-box"></textarea>
			<br>
			<button class="btn btn-primary reply-btn" ng-click="replyMessage()">Reply</button>
			<br>