		<style type="text/css">
			.reply-btn{
				margin: 1em 0 1em 8em;
			}
			.text-box{
				margin-left: 8em;
			}
			.message-body{
				position: relative;
				border: 1px solid #dce0e3;
				padding: 1em 1em 0 1em;
				margin-bottom: 1em;
				margin-left: 1em;
				margin-right: 4em;
				border-radius: 5px;
			}
			.recieve{
				position: relative;
				border: 1px solid #dce0e3;
				padding: 1em 1em 0 1em;
				margin-bottom: 1em;
				background: rgb(215, 228, 239);
				margin-left: 4em;
				margin-right: 0.5em;
				border-radius: 5px;
			}
			.message-body:after 
			{
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 15px 15px 0;
			border-color: transparent #FFFFFF;
			display: block;
			width: 0;
			z-index: 1;
			left: -15px;
			top: 20px;
			}

			.message-body:before 
			{
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 15px 15px 0;
			border-color: transparent #dce0e3;
			display: block;
			width: 0;
			z-index: 0;
			left: -16px;
			top: 20px;
			}
			.recieve:after 
			{
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 0 15px 15px;
			border-color: transparent rgb(215, 228, 239);
			display: block;
			width: 0;
			z-index: 1;
			right: -15px;
			top: 20px;
			}

			.recieve:before 
			{
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 0 15px 15px;
			border-color: transparent #dce0e3;
			display: block;
			width: 0;
			z-index: 0;
			right: -16px;
			top: 20px;
			}
		</style>
		<div class="message"> <!-- recieve converstaiont and ng-repeat -->
			<div class="message-header">
				<p>Conversation with {{conversation.uName}}</p>
			</div>
			<hr>
			<div ng-class="message.iSent ? 'message-body':'recieve' "ng-repeat="message in conversation.messages | orderBy:'-sent'">
				<div>
					<p>{{message.content}}</p>
					<div class="message-date">
						<p class="text-muted">{{message.sent | date:"MM/dd/yyyy 'at' h:mma"}}</p>
					</div>
				</div>
			</div>
		</div>

			<textarea rows="5" cols="90" ng-model="messageData.content" placeholder="Write your message here ..." class="text-box"></textarea>
			<br>
			<button class="btn btn-primary reply-btn" ng-click="replyMessage()">Reply</button>
			<br>