	<style>
/* ------ navbar ---------*/

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand img{
	height: 50px;
}

.nav > li > a:hover, .nav > li > a:focus{
	background: none;
}
.nav > li > a{
	height: 100%;
}
/* ------ end navbar -----*/

	</style>

	<div class="navbar">
			<div class="navbar-brand">
				<a href>
					<img ng-src="images/{{logo}}" alt="Jewliday">
				</a>
			</div>

			<ul class="nav navbar-nav pull-right" ng-if="!isAuth">
				<li>
					<a href ng-click="openModal('login')" >
						<span class="glyphicon glyphicon-user" ></span> Log In
					</a>
				</li>
				<li>
					<a href ng-click="openModal('sign')">
						<span class="glyphicon glyphicon-pencil"></span> Sign Up
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-if="isAuth" ng-hide="logo == 'logo.jpg'">
				    <li class="dropdown" dropdown on-toggle="toggled(open)" >
					    <a href class="dropdown-toggle" dropdown-toggle>
					         {{username}}<span class="caret">
					    </a>
					    <ul class="dropdown-menu">
					        <li ng-repeat="choice in items">
					          <a href>{{choice}}</a>
					        </li>
					    </ul>
				    </li>
				<li>
					<a href ng-click="logOut()" >
						<span class="glyphicon glyphicon-off" ></span> Log Out
					</a>
				</li>
			</ul>
	</div><!-- end navbar -->
	<div class="navbar navbar-low" ng-if="logo == 'logo.jpg'">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li ui-sref=".profile" ui-sref-active="active">
					<a href  > <!-- ng-click="pickTab('profile')" -->
						<span class="glyphicon glyphicon-user" ></span> Profile
					</a>
				</li>
				<li ui-sref=".home" ui-sref-active="active">
					<a href  ><!-- ng-click="pickTab('home')" -->
						<span class="glyphicon glyphicon-home"></span> Your Home
					</a>
				</li>
				<li ui-sref=".inbox" ui-sref-active="active">
					<a href > <!-- ng-click="pickTab('inbox')" -->
						<span class="glyphicon glyphicon-envelope"></span> Inbox
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-if="isAuth">
				    <li class="dropdown" dropdown on-toggle="toggled(open)" >
					    <a href class="dropdown-toggle" dropdown-toggle>
					        Hello {{username}}<span class="caret">
					    </a>
					    <ul class="dropdown-menu">
					        <li ng-repeat="choice in items">
					          <a href>{{choice}}</a>
					        </li>
					    </ul>
				    </li>
				<li>
					<a href ng-click="logOut()" >
						<span class="glyphicon glyphicon-off" ></span> Log Out
					</a>
				</li>
			</ul>
		</div>
	</div><!-- end navbar -->

