	<style>
/* ------ navbar ---------*/

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand img{
	height: 50px;
}

.nav > li > a:hover, .nav > li > a:focus{
	background: none;
}
.nav > li > a{
	height: 100%;
}

.navbar-search{
	margin: 0;
	padding: 8px 5px 8px 5px;
}
.label-as-badge {
    border-radius: 1em;
}
.warning-message{
	border-radius: 6px;
	padding: 5px;
	background-color: rgb(180, 189, 152);
	margin-left: 24em;
}

.warning-message.ng-leave { transition:2s linear all; opacity: 1;}        /* starting animations for leave */
.warning-message.ng-leave.ng-leave-active {opacity: 0;} /* terminal animations for leave */
/* ------ end navbar -----*/

	</style>

	<div class="navbar">
			<div class="navbar-brand">
				<a href='#/'>
					<img ng-src="images/{{logo}}" alt="Jewliday">
				</a>
			</div>
			<ul class="nav navbar-nav pull-center" ng-if="warning.message != ''">
				<li><h4 class="warning-message" >{{warning.message}}<span class="glyphicon glyphicon-arrow-right"></span></h4></li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-if="!userData.isAuth">
				<li>
					<a href ng-click="openModal('login')" >
						<span class="glyphicon glyphicon-user" ></span> Log In
					</a>
				</li>
				<li>
					<a href ng-click="openModal('sign')">
						<span class="glyphicon glyphicon-pencil"></span> Sign Up
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-if="userData.isAuth">
					<li>
						<a href="#/listHome/address" ng-if="!userData.isListed">
							<button class="btn btn-warning">List Your Home</button>
						</a>
					</li>
				    <li class="dropdown" dropdown on-toggle="toggled(open)" >
					    <a href class="dropdown-toggle" dropdown-toggle>
					         {{userData.firstName}}<span class="caret">
					    </a>
					    <ul class="dropdown-menu">
					        <li ng-repeat="choice in items">
					          <a ng-href='#/{{choice.url}}'>{{choice.name}}</a>
					        </li>
					    </ul>
				    </li>
				<li>
					<a href="#/users/inbox/incoming" > <!-- link to inbox -->
						<span class="glyphicon glyphicon-envelope" ></span><span class="label label-danger label-as-badge" ng-hide="unread.num == 0">{{unread.num}}</span>
					</a>
				</li>
				<li>
					<a href ng-click="logOut()" >
						<span class="glyphicon glyphicon-off" ></span> Log Out
					</a>
				</li>
			</ul>
	</div><!-- end navbar -->
	<div class="navbar navbar-low" ng-if="logo == 'logo.jpg'" style="margin-bottom: 20px;">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
<!-- 				<li ui-sref=".profile" ui-sref-active="active">
					<a href  > 
						<span class="glyphicon glyphicon-user" ></span> Profile
					</a>
				</li> -->
				<li ng-class="homeActive()">
					<a href="#/users/home">
						<span class="glyphicon glyphicon-home" ></span> My Home
					</a>
				</li>
				<li  ng-class="inboxActive()">
					<a href="#/users/inbox/incoming" >
						<span class="glyphicon glyphicon-envelope"></span> Inbox <span class="badge" ng-hide="unread.num == 0">{{unread.num}}</span>
					</a>
				</li>
				<li ng-class="searchActive()">
					<a href="#/users/search" >
						<span class="glyphicon glyphicon-search"></span> Search
					</a>
				</li>
			</ul>

			<form class="navbar-form navbar-left navbar-search" role="search" ng-show="searchActive()">
				<div class="form-group" >
		          <input type="text" class="form-control" placeholder="City of Country" ng-model="searchTerm.search">
		        </div>
		        <button class="btn btn-default" ng-click="search()">Go!</button>
		    </form>
		</div>
	</div><!-- end navbar -->

