
<style>
.navbar-nav {
	display: none;
}
.form-control{
	border-radius: 0;
}

.form-group{
	margin-bottom: 20px;
}
h1{
	text-align: center;
}

.table{
	padding-top: 25px;
	position: relative;
	bottom: 0;
}

td{
	padding: 0;
}

label span {
	font-size: 10px;
}
/*.checkbox{
	margin: 0 3px 0 3px;
}*/

</style>
<navigation-bar logo="logo.jpg"></navigation-bar>
<div ng-controller="newHomeCtrl">
	<div class="container">
		<div class="row">
			<h1>Put Your Home Up for Exchange</h1>
			<div class="col-sm-6">
						<form>
							<div class="form-group">
						        <label for="Autocomplete">City:</label>
						        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" ng-model="home.city" options="options"/>
						    </div>
							<div class="form-group">
								<label for="street">Street:</label>
								<input type="" id="street" ng-model="home.street" placeholder="Street" class="form-control">
							</div>
							<div class="form-group">
								<label for="home-type">Home Type:</label>
								<input type="" id="" ng-model="home.homeType" placeholder="House , Apartment etc." class="form-control">
							</div>
							<div class="form-group">
								<label for="home-number">Home Number</label>
								<input type="" id="" ng-model="home.number" placeholder="Home number" class="form-control">
							</div>
						</form>
			</div>
			<div class="col-sm-6 amenities">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="">Bedrooms:</label>
						<select class="form-control" ng-model="home.bedrooms" ng-options="num for num in [1,2,3,4,5,6,7,8,9]" class="form-control">
							<option value="">Select</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label for="">Beds:</label>
						<select class="form-control" ng-model="home.beds" ng-options="num for num in [1,2,3,4,5,6,7,8,9]" class="form-control">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="">Kosher:</label>
						<select class="form-control" ng-model="home.kosher" ng-options="num for num in ['regular','mehadrin','chabad']" class="form-control">
							<option value="">Select</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label for="">Synagouge <span>(walk minutes):</span></label>
						<select class="form-control" ng-model="home.synagouge" ng-options="num for num in [5,10,15,20,25]" class="form-control">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<table class="table table-condensed">
					<tr ng-repeat="row in amenities">
						<td ng-repeat="a in row">
							<div class="checkbox">
						    <label>
						      <input type="checkbox" ng-model="home.amenities[a]"> {{a}}
						    </label>
						  </div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>