<style type="text/css">
	.homes-list{
		text-decoration: none;
		
	}
	.home-img{
		width: 100%;
	}
	.list-group-item-text{
		font-size: 15px;
		color: #555;
	}
	.beds td{
		padding-right: 20px;
	}
	.filter-table{
		border: 0 !important;
		padding: 5px 7px 3px 0px !important;
		font-size: 13px !important;
	}
</style>
<br>
<div class="row">
	<div class="col-sm-8">
		<div class="list-group homes-list">
			<a href class="list-group-item" ng-repeat="home in filteredResults =(results | amenFilter:filters)">
				<div class="row">
					<div class="col-sm-3">
						<img ng-src="{{home.photos.profile}}" class="home-img">
					</div>
					<div class="col-sm-9">
						<h3 class="list-group-item-heading"><span class="glyphicon glyphicon-map-marker"></span> {{home.house.city}}</h4>
						<p class="list-group-item-text"> {{home.house.description}}</p>
						<br><br>
						<table>
							<tr class="beds">
								<td><span class="glyphicon glyphicon-lamp"></span> Bedrooms: {{home.house.bedrooms}}   </td>
								
								<td><span class="glyphicon glyphicon-cloud"></span> Beds: {{home.house.beds}}</td>
							</tr>
						</table>
					</div>
				</div>
			</a>
		</div>
	</div>
	<input type="text" ng-model="filteredResultsLength" value="filteredResults.length" ng-hide="false">
	<div class="col-sm-4">
		<div class="well">
			<table class="table">
				<tr ng-repeat="amenity in filterAmen">
					<td ng-repeat="a in amenity " class="filter-table">
						<input type="checkbox" ng-model="filters[a.dbName]"> {{a.name}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>