<style type="text/css">
        #map_canvas {
            position: relative;
            width: 800px;
            height: 300px;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
</style>

<div class="row">
	<div class="col-sm-3">
		<p>Location</p>
	</div>
	<div class="col-sm-9">
		{{home.city}}
		<div id="map_canvas">
			    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" ></ui-gmap-google-map>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-3">
		<p>Amenities</p>
	</div>
	<div class="col-sm-9">
		<table class="table">
			<tr ng-repeat="amenity in amenitiesOrdered">
				<td ng-repeat="a in amenity">
					<span ng-class="amenityCheck(a.dbName)"></span> {{a.name}}
				</td>
			</tr>
		</table>
	</div>
</div>
