<style type="text/css">
.pic-table{
	height: 700px;
}

.second-up, .third-down{
	height: 30%;
	background-color: blue;
}

.second-down, .third-up{
	height: 70%;
	background-color: red;
}

.columns{
	height: 700px;
}

</style>

<div class="row pic-table">
	<div class="col-sm-4">
		<div class="row first"></div>
	</div>

	<div class="col-sm-4 columns">
		<div class="row second-up"></div>
		<div class="row second-down"></div>
	</div>

	<div class="col-sm-4">
		<div class="row third-up"></div>
		<div class="row third-down"></div>
	</div>
</div>
