<style>
.image{
	position: relative;
	width: 300px;
	z-index: 1;
	bottom: 0;
	border: 10px solid white;
	position: relative;
	top: 170px;
	left: 80px;
}
.home-top-pictures{
	margin-top: -20px;
	background-image: url('images/home.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 350px;
}
.home-tabs-container{
	padding: none;
}
.home-tabs{
	border-left:1px solid grey;
	border-bottom:1px solid grey;
	border-right:1px solid grey;
	border-radius: 0;

}
</style>

<div class="home-top-pictures">
	<img class="image" src="images/house-front.jpg">
</div>
<div class="container home-tabs-container">
	<div class="navbar home-tabs text-center">
		<ul class="nav navbar-nav">
			<li>
				<a href>Location & Details</a>
			</li>
			<li>
				<a href>Photos & Description</a>
			</li>
			<li>
				<a href>Reviews</a>
			</li>
		</ul>
	</div>
</div>