<style>
.message-header{
	font-size: 18px;
}
hr{
	margin: 10px 0 10px 0;
}
.message{
	margin-top: 20px;
	width: 95%;
	padding: 0 10px 0 10px;
}

.date{
	padding: 0;
	overflow: hidden;
	width: 15%;
}

.sender{
	padding-right: 0;

}
.message-date{
	text-align: right;
	font-size: 12px;
}


</style>

<div class="row" style="width: 100%;" > <!-- ng-controller="inboxCtrl"  ng-if="inbox.state" -->

	<div class="col-sm-5 inbox-panel">
		<div ui-view></div>
	</div>
	<div class="col-sm-7 side-bar">
		<message-content></message-content>
	</div><!-- end col-sm-2 --> 
</div><!-- end row -->