<style type="text/css">
#map_canvas{
	height: 100px;
	width: 100px;
}
</style>

<div class="row">
	<div class="col-sm-3">
		<p>Location</p>
	</div>
	<div id="map_canvas" class="col-sm-9">
		{{home.city}}
		    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<p>Amenities</p>
	</div>
	<div class="col-sm-9">
		<table class="table">
			<tr ng-repeat="amenity in amenitiesOrdered">
				<td ng-repeat="a in amenity">
					<span ng-class="amenityCheck(a.dbName)"></span> {{a.name}}
				</td>
			</tr>
		</table>
	</div>
</div>
