<style>
.image{
	position: relative;
	width: 300px;
	z-index: 1;
	bottom: 0;
	border: 10px solid white;
	position: relative;
	top: 170px;
	left: 80px;
}
.home-top-pictures{
	margin-top: -20px;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 350px;
}
.home-tabs-container{
	padding-right: 0;
	padding-left: 0;
}
.home-tabs{
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	border-radius: 0;

}
.text-center {
	padding-left: 32.41%;
}
.text-center li a {
	color: #337ab7;
	font-weight: bold;
}
.cover-photo-container{
	padding: 0;
}

.edit-button{
	margin-top: 7px;
}
</style>
<div class="container cover-photo-container">
	<div class="home-top-pictures" ng-style="homeImage">
		<img class="image" ng-src="{{photosUrl.profile}}">
	</div>
</div>
<div class="container home-tabs-container">
	<div class="navbar home-tabs">
		<ul class="nav navbar-nav text-center">
			<li ui-sref=".photos" ui-sref-active="active">
				<a href><span class="glyphicon glyphicon-camera"></span> Photos & Description</a>
			</li>
			<li ui-sref=".location" ui-sref-active="active">
				<a href><span class="glyphicon glyphicon-map-marker"></span> Location & Details</a>
			</li>
			<li ui-sref=".reviews" ui-sref-active="active">
				<a href><span class="glyphicon glyphicon-list-alt"></span> Reviews</a>
			</li>
			<li>
				<button class="btn btn-warning edit-button" ng-click="editHome()" ng-if="browseMode">Edit home details</button>
			</li>
			<li>
				<button class="btn btn-success edit-button" ng-click="sendMessage()" ng-if="browseMode">Contact me</button>
			</li>
		</ul>
	</div>
</div>
<div class="container home-tab-page">
	<div ui-view></div>
</div>