
<style type="text/css">

		.map-div{
			height: 400px;
			padding-left: 0;
			border:2px solid gray;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
			-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
			-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
		}
        #map_canvas {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .home-img{
        	width: 90%;
        	border:2px solid gray;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
			-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
			-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
        }
        .beds td{
        	padding-right: 20px;
        }
</style>
<div class="row well" >
	<div class="col-sm-6">
		
		<img ng-src="{{chosen.photos.profile}}" class="home-img">
		<h3><span class="glyphicon glyphicon-map-marker"></span> {{chosen.house.city}}</h3>
		<p>{{chosen.house.description}}</p>
		<table>
			<tr class="beds">
				<td><span class="glyphicon glyphicon-lamp"></span> Bedrooms: {{chosen.house.bedrooms}}   </td>
								
				<td><span class="glyphicon glyphicon-cloud"></span> Beds: {{chosen.house.beds}}</td>
				<td><a href ng-click="openHome()">See more</a></td>
			</tr>
		</table>

	</div>
	<div class="col-sm-6 map-div">
		<div id="map_canvas">
			    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" >
			    	<ui-gmap-markers models="markers" coords="'self'" icon="'icon'" fit="markers.length > 1" click="onClick">
				</ui-gmap-google-map>
		</div>
	</div>
</div>