		<table class="messages table">
			<tr class="row" ng-repeat="item in conversations | orderBy:'lastMessage'">
					<td class="col-sm-4">
						<a href ng-click="openMessageContent($index)">{{item.uName}}</a>
					</td>
					<td class="col-sm-4">
						<a href ng-click="openMessageContent($index)">Conversation with {{item.uName}}</a>
					</td>
					<td class="col-sm-4">
						<a href ng-click="openMessageContent($index)">{{item.lastMessage}}</a>
					</td>
			</tr>
		</table>

		<message-content-modal></message-content-modal>