<style type="text/css">
	.homes-list{
		text-decoration: none;
		color: black;
	}
	.home-img{
		width: 100%;
	}
	.list-group-item-text{
		font-size: 15px;
	}
</style>
<br>
<div class="row">
	<div class="col-sm-8">
		<div class="list-group homes-list">
			<a href class="list-group-item" ng-repeat="home in results" class="active">
				<div class="row">
					<div class="col-sm-3">
						<img ng-src="{{home.photos.profile}}" class="home-img">
					</div>
					<div class="col-sm-9">
						<h3 class="list-group-item-heading"><span class="glyphicon glyphicon-map-marker"></span> {{home.house.city}}</h4>
						<p class="list-group-item-text"> {{home.house.description}}</p>
						<br><br>
						<table>
							<tr>
								<td><span class="glyphicon glyphicon-lamp"></span> Bedrooms: {{home.house.bedrooms}}   </td>
								<td></td>
								<td><span class="glyphicon glyphicon-cloud"></span> Beds: {{home.house.beds}}</td>
							</tr>
						</table>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-3">
	</div>
</div>