<style type="text/css">
.pic-table{
	height: 500px;
}

.second-up, .third-down{
	height: 100%;
	width: 100%;
}

.second-down, .third-up{
	height: 70%;
}

.first{
	height: 100%;
}

.columns{
	height: 500px;
}

.row{
	border: 4px solid white;
}

</style>
<br>
<br>
<div class="row">
	<div class="col-sm-3">
		<h3>Description:</h3>
		<p>Wow amazing house with may things that are cool and cool.</p>
	</div>
	<div class="col-sm-9">
		<div class="row pic-table">
			<div class="col-sm-6 columns">
				<div class="row first" ng-style="imagePick('pic1')"></div>
			</div>

			<div class="col-sm-6 columns">
				<div class="row second-up" ng-style="imagePick('pic2')"></div>
				<div class="row second-down" ng-style="imagePick('pic3')"></div>
			</div>
		</div>
		<div class="row columns">
			<div class="col-sm-3">
				<div class="row third-up" ng-style="imagePick('pic4')"></div>
			</div>
			<div class="col-sm-9">
				<div class="row third-down" ng-style="imagePick('pic5')"></div>
			</div>
		</div>
	</div>
</div>
<!-- <pic-modal src="pic"> -->

<carousel photos="photos"></carousel>			
