<style type="text/css">
        #map_canvas {
            position: relative;
            width: 800px;
            height: 300px;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .marker-labels{
		    color: #fff;
		    font-weight: bold;
		    font-size: 14px;
		    opacity: 1;
		    pointer-events: none;
		    text-align: center;
		    width: 60px;
		    white-space: nowrap;
		}
		.map-info-pic{
			width: 100px;
			height: 100px;
		}
		.map-home-div{
			width: 804px;
			border:2px solid gray;
			padding: 0;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
			-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
			-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
		}
</style>

<div class="row well">
	<div class="col-sm-3">
		<h3>Location</h3>
	</div>
	<div class="col-sm-9 map-home-div">
		<div id="map_canvas">
			    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" >

				<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
					<ui-gmap-window options='marker.options'></ui-gmap-window>
        		</ui-gmap-marker>
				</ui-gmap-google-map>
		</div>
	</div>
</div>

