<br>
<br>
<table>
	<tr>
		<td colspan="1" rowspan="5"><img ng-src="{{photosUrl.pic1}}"></td>
		<td colspan="1" rowspan="3"><img ng-src="{{photosUrl.pic2}}"></td>
		<td colspan="1" rowspan="10"><img ng-src="{{photosUrl.pic3}}"></td>
	</tr>
	<tr>
		<td colspan="1" rowspan="5"><img ng-src="{{photosUrl.pic4}}"></td>
		<td colspan="1" rowspan="4"><img ng-src="{{photosUrl.pic5}}"></td>
		<td colspan="1" rowspan="3"><img ng-src="{{photosUrl.pic6}}"></td>
	</tr>
	<tr>
		<td colspan="1" rowspan="4"><img ng-src="{{photosUrl.pic4}}"></td>
	</tr>
	<tr></tr>
	<tr></tr>
</table>