<style>
.navbar{
	z-index: +1;
	width: 100%;
	margin-bottom: 0;
}
.navbar-low , .navbar-side{
	color: white;
	border-radius: 0;
	width: 100%;
	background-color: #eeeeee;
}
.col-sm-2{
	padding-right: 0;
}

</style>

<navigation-bar logo="logo.jpg"></navigation-bar>
<div class="row tabs">

	<div class="col-sm-2">
		<div class="navbar navbar-side" ng-if="logo == 'logo.jpg'">
			<ul class="nav navbar-nav">
				<li>
					<a href>
						<span class="glyphicon glyphicon-inbox" ></span> Incoming
					</a>
				</li>
				<li>
					<a href>
						<span class="glyphicon glyphicon-ok"></span> Sent
					</a>
				</li>
				<li>
					<a href>
						<span class="glyphicon glyphicon-send"></span> Saved
					</a>
				</li>
			</ul>
		</div><!-- end navbar -->
	</div><!-- end col-sm-2 --> 

	<div class="col-sm-10"></div>

</div><!-- end row -->