<style>
.navbar{
	z-index: +1;
	width: 100%;
	margin-bottom: 0;
}
.navbar-low , .navbar-side{
	color: white;
	border-radius: 0;
	border: 0;
	width: 100%;
	background-color: #eeeeee;
}
.col-sm-2{
	padding-right: 0;
	background-color: #eeeeee; 
}
.inbox-panel{
	padding-right: 0;
	background-color: transparent;
}
.inbox-tabs{
	border: 1px solid lightgrey;
}

.active{
	background-color: #f9f9f9; 
}

</style>

<navigation-bar logo="logo.jpg"></navigation-bar>
<div class="row tabs" ng-controller="inboxCtrl">

	<div class="col-sm-2">
		<div class="navbar navbar-side" ng-if="logo == 'logo.jpg'">
			<ul class="nav navbar-nav row">
				<li class="col-sm-12 inbox-tabs" ng-class="activeInboxTab('incoming')">
					<a href ng-click="pickInboxTab('incoming')">
						<span class="glyphicon glyphicon-inbox" ></span> Incoming
					</a>
				</li>
				<li class="col-sm-12 inbox-tabs" ng-class="activeInboxTab('sent')">
					<a href ng-click="pickInboxTab('sent')">
						<span class="glyphicon glyphicon-send"></span> Sent
					</a>
				</li>
				<li class="col-sm-12 inbox-tabs" ng-class="activeInboxTab('saved')">
					<a href ng-click="pickInboxTab('saved')" >
						<span class="glyphicon glyphicon-floppy-saved"></span> Saved
					</a>
				</li>
			</ul>
		</div><!-- end navbar -->
	</div><!-- end col-sm-2 --> 

	<div class="col-sm-10 inbox-panel"></div>

</div><!-- end row -->