/* ------ navbar ---------*/
.navbar{
	position: absolute;
	z-index: +1;
}
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand img{
	height: 50px;
}

.navbar > div > ul > li > a{
	color: white;
	text-decoration: none;
	font-size: 16px;
} 
.nav > li > a:hover, .nav > li > a:focus{
	background: none;
}
/* ------ end navbar -----*/

/* ----- jumbotron -------*/
.jumbotron{
	height: 600px;

	background-image: url('../images/mountain.jpg');
	background-repeat: no-repeat;
	background-position: center;

	font-family: 'Gurajada';
	color: white;
	text-align: center;

	padding-bottom: 200px;
	padding-top: 200px;
}

.jumbotron h1{
	height: 60px;
	font-size: 70px;
	margin-top: 0;
}

.jumbotron p{
	padding-top: 0;
	margin-top: 0;
	font-style: normal;
	font-size: 30px;
}

.form-group{
	background-color: rgba(0,0,0,0.5);
	padding: 5px 0 5px 0;
}
.jumbotron input{
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	font-family: arial;
}

::-webkit-input-placeholder {
   padding-bottom: 7px;
   font-size: 16px;
   font-family: arial;
}
/* --- end jumbotron -----*/