/* ------ inbox tabs ---------*/
.tabs{

}

.tabs > div{
	height: 600px; 
}

/* ------ end inbox tabs ---------*/

/* ------ logModal ---------*/
.myModal{
	background: rgba(0,0,0,0.8);
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}

.modal-content{
	width: 400px;
	height: 300px;
	background-color: white;
	margin: auto;
	margin-top: 100px;
	padding: 5px 10px 5px 10px;
}

.modal-content a{
	color: black;
}

.modal-content a:hover{
	text-decoration: none;
}

.modal-body{
	margin-top: 30px;
	padding-top: 0;
}

.modal-body .form-group{
	background-color: white;
}

.sign .modal-content{
	height: 530px;
	margin-bottom:	100px;
	margin-top: 50px;
}

.red-alert{
	border: 2px solid red;
}
.myModal.ng-enter { transition:0.2s linear all; opacity: 0;}        /* starting animations for enter */
.myModal.ng-enter.ng-enter-active {  opacity: 1;} /* terminal animations for enter */
.myModal.ng-leave { transition:0.2s linear all; opacity: 1;}        /* starting animations for leave */
.myModal.ng-leave.ng-leave-active {opacity: 0;} /* terminal animations for leave */

/* ------  end logModal ---------*/

.nav .open > a ,  .nav .open > a:focus ,.nav .open > a:hover {  
	background-color: transparent;
}
.dropdown-menu{
	opacity: 0.8;
}

.navbar-low {
	color: white;
	border-radius: 0;
	border: 0;
	width: 100%;
	background-color: #eeeeee;
	margin-bottom: 20px;
}

.side-bar{
	padding: 0;
}
.side-bar ul li {
	text-decoration: none;
	color: #337ab7;
}
.list-group{
	margin-left: 10px;
	width: 100%;
	height: 100%;
}
.list-group-item{
	padding-left: 20px;
}
.list-group-item.active,.list-group-item.active:hover{
	background-image: none;
	text-shadow: none;
	background-color: transparent;
}
.list-group-item:hover{
	cursor: pointer;
}
a:hover, a:active,a:visited, a:-webkit-any-link{
	text-decoration: none;
	color: #337ab7;
}

.inbox-panel{
	padding: 0;
	width: 70%;
	padding-left: 2%;
}
.active{
	background-color: lightgrey;
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
/*  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);*/
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

/*[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/